{% extends "basefile.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <!-- Categories Column -->
        <div class="col-lg-3 col-md-4 col-sm-12 mt-3 left">
            <div class="list-group">
                <form method="GET" action="{% url 'home' %}">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search" placeholder="Search destinations" aria-label="Search destinations" aria-describedby="button-search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit" id="button-search">Search</button>
                        </div>
                    </div>
                </form>
                {% for category in categories %}
                <a href="?category={{ category.id }}" class="list-group-item list-group-item-action">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
        <!-- Destinations Column -->
        <div class="col-lg-9 col-md-8 col-sm-12 mt-3 right">
            <div class="row">
                {% if destination_list %}
                    {% for destination in destination_list %}
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <div class="card mb-4">                            
                            <div class="card-body">
                                <div id="carousel-{{ destination.id }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
                                    <div class="carousel-inner">
                                        {% for image in destination.images_destination.all %}
                                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                            <a href="{% url 'view_destination' destination.name %}">
                                                <img class="d-block w-100 destinationimage" src="{{ image.image.url }}" alt="{{ destination.name }}">
                                            </a>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel-{{ destination.id }}" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" data-bs-target="#carousel-{{ destination.id }}" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                                <a href="{% url 'view_destination' destination.name %}" class="post-link">
                                    <h2 class="card-title d-none d-lg-block">{{ destination.name }}</h2>
                                    <h4 class="card-title d-block d-md-block d-lg-none">{{ destination.name }}</h4>
                                    <hr>
                                    <p>{{ destination.location }}<br>
                                    Added by: {{ destination.added_by.username }}</p>
                                    <hr>
                                </a>    
                            </div>                            
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="col-12">
                        <div class="alert alert-warning" role="alert">
                            Sorry, no results found as per your search! Try something else, maybe we have that place in this blog.
                        </div>
                    </div>
                {% endif %}    
            </div>
        </div>
    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}&search={{ search_query }}&category={{ category_id }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li>
            <a href="?page={{ page_obj.next_page_number }}&search={{ search_query }}&category={{ category_id }}" class="page-link">NEXT &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
<!-- popup messages -->
{% if messages %}
                <div id="popup-message" class="popup">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <button id="popup-close">OK</button>
                </div>
                <div id="overlay" class="overlay"></div>
{% endif %}
{% endblock content %}

{% block extras %}
<script src="{% static 'js/popup.js' %}"></script>
{% endblock extras %}